# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
python_embeded/
python_embeded*/
bin/
libs/

# IDEs
.idea/
.vscode/

# Project Specific
cache/
output/
temp/
*.log
.sheetsage/
omnizart_env/
newUI/

# Large Files
*.pt
*.pth
*.ckpt
*.onnx
*.bin
*.midi
*.wav
*.mp3
*.pdf

!assets/
Ultimate Vocal Remover/base_library.zip
Ultimate Vocal Remover/data.pkl
Ultimate Vocal Remover/ffmpeg.exe
Ultimate Vocal Remover/libcrypto-1_1.dll
Ultimate Vocal Remover/libffi-7.dll
Ultimate Vocal Remover/libopenblas_v0.3.20-571-g3dec11c6-gcc_10_3_0-c2315440d6b6cef5037bad648efc8c59.dll
Ultimate Vocal Remover/libssl-1_1.dll
Ultimate Vocal Remover/msvcp140.dll
Ultimate Vocal Remover/python3.dll
Ultimate Vocal Remover/python39.dll
Ultimate Vocal Remover/pythoncom39.dll
Ultimate Vocal Remover/pywintypes39.dll
Ultimate Vocal Remover/rubberband.exe
Ultimate Vocal Remover/sndfile.dll
Ultimate Vocal Remover/sqlite3.dll
Ultimate Vocal Remover/tcl86t.dll
Ultimate Vocal Remover/tk86t.dll
Ultimate Vocal Remover/unins000.dat
Ultimate Vocal Remover/unins000.exe
Ultimate Vocal Remover/UVR_Launcher.exe
Ultimate Vocal Remover/UVR.exe
Ultimate Vocal Remover/vcruntime140_1.dll
Ultimate Vocal Remover/VCRUNTIME140.dll
Ultimate Vocal Remover/gui_data/change_log.txt
Ultimate Vocal Remover/gui_data/model_manual_download.json
Ultimate Vocal Remover/gui_data/own_font.json
Ultimate Vocal Remover/gui_data/fonts/Montserrat/Montserrat.ttf
Ultimate Vocal Remover/gui_data/fonts/centurygothic/GOTHIC.TTF
Ultimate Vocal Remover/gui_data/fonts/centurygothic/GOTHICB.TTF
Ultimate Vocal Remover/gui_data/fonts/centurygothic/GOTHICBI.TTF
Ultimate Vocal Remover/gui_data/fonts/centurygothic/GOTHICI.TTF
Ultimate Vocal Remover/gui_data/fonts/other/place_font_files_here.txt
Ultimate Vocal Remover/gui_data/img/clear.png
Ultimate Vocal Remover/gui_data/img/copy.png
Ultimate Vocal Remover/gui_data/img/credits.png
Ultimate Vocal Remover/gui_data/img/donate.png
Ultimate Vocal Remover/gui_data/img/down.png
Ultimate Vocal Remover/gui_data/img/download.png
Ultimate Vocal Remover/gui_data/img/File.png
Ultimate Vocal Remover/gui_data/img/GUI-Icon.ico
Ultimate Vocal Remover/gui_data/img/GUI-Icon.png
Ultimate Vocal Remover/gui_data/img/help.png
Ultimate Vocal Remover/gui_data/img/key.png
Ultimate Vocal Remover/gui_data/img/left.png
Ultimate Vocal Remover/gui_data/img/pause.png
Ultimate Vocal Remover/gui_data/img/play.png
Ultimate Vocal Remover/gui_data/img/right.png
Ultimate Vocal Remover/gui_data/img/splash.bmp
Ultimate Vocal Remover/gui_data/img/stop_player.png
Ultimate Vocal Remover/gui_data/img/stop.png
Ultimate Vocal Remover/gui_data/img/up.png
Ultimate Vocal Remover/gui_data/img/UVR-banner.png
Ultimate Vocal Remover/gui_data/sv_ttk/__init__.py
Ultimate Vocal Remover/gui_data/sv_ttk/sun-valley_darwin.tcl
Ultimate Vocal Remover/gui_data/sv_ttk/sun-valley.tcl
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark.tcl
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/arrow-down.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/arrow-right.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/arrow-up.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-accent-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-accent-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-accent-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-accent-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-close-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-close-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-titlebar-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/button-titlebar-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/card.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-tri-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-tri-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-tri-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-tri-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-unsel-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-unsel-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-unsel-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/check-unsel-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/combo-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/empty.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/entry-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/entry-focus.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/entry-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/entry-invalid.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/entry-rest-combo.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/entry-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/notebook-border.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/notebook.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/progress-pbar-hor.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/progress-pbar-vert.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/progress-trough-hor.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/progress-trough-vert.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-unsel-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-unsel-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-unsel-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/radio-unsel-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scale-thumb-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scale-thumb-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scale-thumb-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scale-thumb-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scale-trough-hor.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scale-trough-vert.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-down.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-hor-thumb.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-hor-trough.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-left.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-right.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-up.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-vert-thumb.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/scroll-vert-trough.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/separator.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/sizegrip.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-off-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-off-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-off-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-off-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-on-disabled.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-on-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-on-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/switch-on-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/tab-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/tab-rest.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/tab-selected.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/treeheading-hover.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/treeheading-pressed.png
Ultimate Vocal Remover/gui_data/sv_ttk/theme/dark/treeheading-rest.png
Ultimate Vocal Remover/gui_data/tkinterdnd2/__init__.py
Ultimate Vocal Remover/gui_data/tkinterdnd2/TkinterDnD.py
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/pkgIndex.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/tkdnd_compat.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/tkdnd_generic.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/tkdnd_macosx.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/tkdnd_unix.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/tkdnd_utils.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/tkdnd_windows.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/linux64/tkdnd.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/libtkdnd2.9.2.dylib
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/pkgIndex.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/tkdnd_compat.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/tkdnd_generic.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/tkdnd_macosx.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/tkdnd_unix.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/tkdnd_utils.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/tkdnd_windows.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/osx64/tkdnd.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/libtkdnd2.9.2.dll
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/pkgIndex.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd_compat.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd_generic.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd_macosx.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd_unix.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd_utils.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd_windows.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd.tcl
Ultimate Vocal Remover/gui_data/tkinterdnd2/tkdnd/win64/tkdnd2.9.2.lib
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr16000_hl512.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr32000_hl512.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr33075_hl384.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr44100_hl256.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr44100_hl512_cut.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr44100_hl512_nf1024.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr44100_hl512.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/1band_sr44100_hl1024.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/2band_32000.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/2band_44100_lofi.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/2band_48000.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/3band_44100_mid.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/3band_44100_msb2.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/3band_44100.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_44100_mid.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_44100_msb.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_44100_msb2.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_44100_reverse.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_44100_sw.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_44100.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_v2_sn.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_v2.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_v3_sn.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/4band_v3.json
Ultimate Vocal Remover/lib_v5/vr_network/modelparams/ensemble.json
Ultimate Vocal Remover/librosa/util/example_data/index.json
Ultimate Vocal Remover/librosa/util/example_data/registry.txt
Ultimate Vocal Remover/llvmlite/binding/llvmlite.dll
Ultimate Vocal Remover/models/Demucs_Models/model_data/model_name_mapper.json
Ultimate Vocal Remover/models/Demucs_Models/v3_v4_repo/955717e8-8726e21a.th
Ultimate Vocal Remover/models/Demucs_Models/v3_v4_repo/htdemucs.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/model_data.json
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/model_name_mapper.json
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model_2_stem_061321.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model_2_stem_full_band_2.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model_2_stem_full_band_3.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model_2_stem_full_band_4.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model_2_stem_full_band_8k.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model_2_stem_full_band.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model1.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model2.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/model3.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/modelA.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/modelB.yaml
Ultimate Vocal Remover/models/MDX_Net_Models/model_data/mdx_c_configs/sndfx.yaml
Ultimate Vocal Remover/models/VR_Models/model_data/model_data.json
Ultimate Vocal Remover/numpy/.libs/libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
Ultimate Vocal Remover/onnxruntime/capi/onnxruntime_providers_cuda.dll
Ultimate Vocal Remover/_soundfile_data/COPYING
Ultimate Vocal Remover/_soundfile_data/libsndfile64bit.dll
Ultimate Vocal Remover/onnxruntime/capi/onnxruntime_providers_shared.dll
Ultimate Vocal Remover/onnxruntime/capi/onnxruntime_providers_tensorrt.dll
Ultimate Vocal Remover/resampy/data/kaiser_best.npz
Ultimate Vocal Remover/resampy/data/kaiser_fast.npz
Ultimate Vocal Remover/samplerate/_samplerate_data/libsamplerate-32bit.dll
Ultimate Vocal Remover/samplerate/_samplerate_data/libsamplerate-64bit.dll
Ultimate Vocal Remover/samplerate/_samplerate_data/libsamplerate.dylib
Ultimate Vocal Remover/sklearn/.libs/vcomp140.dll
Ultimate Vocal Remover/sklearn/.libs/vcruntime140_1.dll
Ultimate Vocal Remover/sklearn/.libs/vcruntime140.dll
Ultimate Vocal Remover/tcl/auto.tcl
Ultimate Vocal Remover/tcl/clock.tcl
Ultimate Vocal Remover/tcl/history.tcl
Ultimate Vocal Remover/tcl/init.tcl
Ultimate Vocal Remover/tcl/package.tcl
Ultimate Vocal Remover/tcl/parray.tcl
Ultimate Vocal Remover/tcl/safe.tcl
Ultimate Vocal Remover/tcl/tclIndex
Ultimate Vocal Remover/tcl/tm.tcl
Ultimate Vocal Remover/tcl/word.tcl
Ultimate Vocal Remover/tk/bgerror.tcl
Ultimate Vocal Remover/tk/button.tcl
Ultimate Vocal Remover/tk/choosedir.tcl
Ultimate Vocal Remover/tk/clrpick.tcl
Ultimate Vocal Remover/tk/comdlg.tcl
Ultimate Vocal Remover/tk/console.tcl
Ultimate Vocal Remover/tk/dialog.tcl
Ultimate Vocal Remover/tk/entry.tcl
Ultimate Vocal Remover/tk/focus.tcl
Ultimate Vocal Remover/tk/fontchooser.tcl
Ultimate Vocal Remover/tk/iconlist.tcl
Ultimate Vocal Remover/tk/icons.tcl
Ultimate Vocal Remover/tk/license.terms
Ultimate Vocal Remover/tk/listbox.tcl
Ultimate Vocal Remover/tk/megawidget.tcl
Ultimate Vocal Remover/tk/menu.tcl
Ultimate Vocal Remover/tk/mkpsenc.tcl
Ultimate Vocal Remover/tk/msgbox.tcl
Ultimate Vocal Remover/tk/obsolete.tcl
Ultimate Vocal Remover/tk/optMenu.tcl
Ultimate Vocal Remover/tk/palette.tcl
Ultimate Vocal Remover/tk/panedwindow.tcl
Ultimate Vocal Remover/tk/pkgIndex.tcl
Ultimate Vocal Remover/tk/safetk.tcl
Ultimate Vocal Remover/tk/scale.tcl
Ultimate Vocal Remover/tk/scrlbar.tcl
Ultimate Vocal Remover/tk/spinbox.tcl
Ultimate Vocal Remover/tk/tclIndex
Ultimate Vocal Remover/tk/tearoff.tcl
Ultimate Vocal Remover/tk/text.tcl
Ultimate Vocal Remover/tk/tk.tcl
Ultimate Vocal Remover/tk/tkfbox.tcl
Ultimate Vocal Remover/tk/unsupported.tcl
Ultimate Vocal Remover/tk/xmfbox.tcl
Ultimate Vocal Remover/tk/msgs/cs.msg
Ultimate Vocal Remover/tk/msgs/da.msg
Ultimate Vocal Remover/tk/msgs/de.msg
Ultimate Vocal Remover/tk/msgs/el.msg
Ultimate Vocal Remover/tk/msgs/en_gb.msg
Ultimate Vocal Remover/tk/msgs/en.msg
Ultimate Vocal Remover/tk/msgs/eo.msg
Ultimate Vocal Remover/tk/msgs/es.msg
Ultimate Vocal Remover/tk/msgs/fr.msg
Ultimate Vocal Remover/tk/msgs/hu.msg
Ultimate Vocal Remover/tk/msgs/it.msg
Ultimate Vocal Remover/tk/msgs/nl.msg
Ultimate Vocal Remover/tk/msgs/pl.msg
Ultimate Vocal Remover/tk/msgs/pt.msg
Ultimate Vocal Remover/tk/msgs/ru.msg
Ultimate Vocal Remover/tk/msgs/sv.msg
Ultimate Vocal Remover/tk/ttk/altTheme.tcl
Ultimate Vocal Remover/tk/ttk/aquaTheme.tcl
Ultimate Vocal Remover/tk/ttk/button.tcl
Ultimate Vocal Remover/tk/ttk/clamTheme.tcl
Ultimate Vocal Remover/tk/ttk/classicTheme.tcl
Ultimate Vocal Remover/tk/ttk/combobox.tcl
Ultimate Vocal Remover/tk/ttk/cursors.tcl
Ultimate Vocal Remover/tk/ttk/defaults.tcl
Ultimate Vocal Remover/tk/ttk/entry.tcl
Ultimate Vocal Remover/tk/ttk/fonts.tcl
Ultimate Vocal Remover/tk/ttk/menubutton.tcl
Ultimate Vocal Remover/tk/ttk/notebook.tcl
Ultimate Vocal Remover/tk/ttk/panedwindow.tcl
Ultimate Vocal Remover/tk/ttk/progress.tcl
Ultimate Vocal Remover/tk/ttk/scale.tcl
Ultimate Vocal Remover/tk/ttk/scrollbar.tcl
Ultimate Vocal Remover/tk/ttk/sizegrip.tcl
Ultimate Vocal Remover/tk/ttk/spinbox.tcl
Ultimate Vocal Remover/tk/ttk/treeview.tcl
Ultimate Vocal Remover/tk/ttk/ttk.tcl
Ultimate Vocal Remover/tk/ttk/utils.tcl
Ultimate Vocal Remover/tk/ttk/vistaTheme.tcl
Ultimate Vocal Remover/tk/ttk/winTheme.tcl
Ultimate Vocal Remover/tk/ttk/xpTheme.tcl
Ultimate Vocal Remover/win32com/data.pkl
